.postsContainer {
    height: auto;
    position: relative;
}

.myPostSlogan{
    font-size: 35px;
    margin: 15px 0;
    color: #363636;
}

.addPost{
    background-color: #7f5539;
    color: #ede0d4;
    font-weight: 650;
    border-radius: 4px;
    width: 350px;
    height: 35px;
    border: none;
}


.postCreate{
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    position: relative;
}



.postCreate textarea{
    height: 100px;
    width: 100%;
    /* background-color: gray; */
    width: 100%;
    position: relative;
    color: #9c6644;
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
}
