*{
    padding: 0;
    margin: 0;
}

body{
    margin: 100px auto;
    /* padding: 30px 200px; */
    width: 1200px;
    background-color: #363636;

}


.app-wrapper {
    display: grid;
    grid-template: 
    "head head head"
    "nav con con"
    "foot foot foot";
    gap: 15px;
    box-shadow: 0 0 25px black;
    grid-template-rows: 60px 5fr 250px;
    grid-template-columns: 2fr 10fr;
    height: auto;

}


.app-wrapper-content{
    grid-area: con;
    background-color: aqua;
    position: relative;
    align-items: center;
}