body{
    height: 200vh;
}
.header{
    background-color: blue;
    padding: 20px;
    color: wheat;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

div ul{
    display: flex;
    justify-content: space-around;
    /* background-color: whitesmoke; */
    column-gap: 40px;
}

div ul li{
    list-style: none;
}

div ul li a{
    text-decoration: none;
    color:white;
    padding: 5px 15px;
}

div ul li a:hover{
    color: blue;
    transition: 0.5s ease-in-out;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 0 0 5px yellow;
}