.dialogs{
    display: grid;
    grid-template-areas: 
    "item messages" 
    "item create";
}

.active{
    color: rgb(255, 0, 217);
    text-decoration: none;
}

.dialogItem{
    color: black;
    text-decoration: none;
    text-shadow: 0 0 2px black;
}


.dialogsItem{
    grid-area: item;
}

.messages{
    grid-area: messages;
}

.messageCreator{
    grid-area: create;
    display: flex;
}

.creatorBox textarea{
    width: 350px;
}

.creatorBtn button{
    width: 55px;
    height: 30px;
    background-color: yellow;
    font-weight: 650;
    border: 1px solid darkblue;
}


.dialogs .messages .message{
    color: red;
}