.navigation {
    background-color: #7f5539;
    grid-area: nav;
    padding: 25px;
}

.direction {
    list-style: none;
    color: white;
}



.item{
    color: white;
    text-decoration: none;
  }

.active {
    color: gold;
    text-decoration: none;
}