.navigation {
    background-color: red;
    grid-area: nav;
}

.direction {
    list-style: none;
    color: white;
}



.item{
    color: white;
    text-decoration: none;
  }

.active {
    color: gold;
    text-decoration: none;
}